<div class="text-center">
    <h1 class="display-4">Update user</h1>


    <div class="panel panel-primary">

        <div class="panel-body">
            @using (Html.BeginForm("Add", "Home", FormMethod.Post))
            {

                <div class="form-group">
                    @Html.Label("Name")
                    @Html.TextBox("Name")
                </div>

                <div class="form-group">
                    @Html.Label("Surname")
                    @Html.TextBox("Surname")
                </div>

                <div class="form-group">
                    @Html.Label("Favourite team")
                    @Html.TextBox("FavTeamId")
                </div>

                <input type="submit" value="Submit" />
            }
        </div>
    </div>
</div>

